h1{
  color: white;
  background-color: orange;
  border-radius:5px;
  font-weight:bold;
  text-align:center;
  margin-top: .5px;
  margin-right: 80px;
  margin-left: 80px;
}

h3{
  text-align:center;
}

body{
  background-image: url('../resources/goodPizza.jpg'); /* Image was found at https://www.freepik.com/free-photo/crop-pizza-on-black_1632432.htm */
  background-repeat: no-repeat;
  background-size:cover
}

#error{
  color:red;
  display:none;
}

.toppingsSubmit{
  text-align:center;
}

.instructions{
  border: 3px solid lightgray;
  border-radius:5px;
  background-color:white;
  text-align:center;
  font-size:20px;
  margin-right: 450px;
  margin-left: 80px;
  padding-bottom:15px;
}

.title{
  text-align:center;
  font-weight:bold;
  font-size:20px;
}

.greeting{
  text-align:center;
  font-weight:bold;
  font-size:20px;
}

.confirmed{
  text-align:center;
  font-weight:bold;
  font-size:20px;
  display:none;
}

.cancelled{
  text-align:center;
  font-weight:bold;
  font-size:20px;
  display:none;
}

div.name{
  border: 3px solid lightgray;
  border-radius:5px;
  background-color:white;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  margin-right: 450px;
  margin-left: 80px;
  padding-bottom:15px;
}

div.toppingSelection{
  text-align:center;
}

.confirmation{
  border: 3px solid lightgray;
  border-radius:5px;
  background-color:white;
  text-align:center;
  font-size:20px;
  margin-right: 450px;
  margin-left: 80px;
  padding-bottom:15px;
}

.cost{
  border: 3px solid lightgray;
  border-radius: 5px;
  background-color:white;
  margin-right: 80%;
  margin-left: 80px;
}

.pizzaImage{
  position: relative;
  margin-left: 25%;
}

img{
  position:absolute;
  margin-top: 1%;
}

img.mush{
  z-index: 2;
  margin-left: 4%;
}

img.pep{
  z-index: 1;
  margin-left:-8%;
  margin-top: 5%;
}

img.golive{
  z-index: 3;
  margin-left:-10%;
  margin-top:-1%;
}

img.gpep{
  z-index: 4;
  margin-left:-4%;
  margin-top:1%;
}